<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="catalogcolors">
      <h2 data-cy="catalogcolorsDetailsHeading"><span jhiTranslate="tambourBrowserApp.catalogcolors.detail.title">Catalogcolors</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="tambourBrowserApp.catalogcolors.id">Id</span></dt>
        <dd>
          <span>{{ catalogcolors.id }}</span>
        </dd>
        <dt><span jhiTranslate="tambourBrowserApp.catalogcolors.code">Code</span></dt>
        <dd>
          <span>{{ catalogcolors.code }}</span>
        </dd>
        <dt><span jhiTranslate="tambourBrowserApp.catalogcolors.name">Name</span></dt>
        <dd>
          <span>{{ catalogcolors.name }}</span>
        </dd>
        <dt><span jhiTranslate="tambourBrowserApp.catalogcolors.baseMaterial">Base Material</span></dt>
        <dd>
          <span>{{ catalogcolors.baseMaterial }}</span>
        </dd>
        <dt><span jhiTranslate="tambourBrowserApp.catalogcolors.labL">Lab L</span></dt>
        <dd>
          <span>{{ catalogcolors.labL }}</span>
        </dd>
        <dt><span jhiTranslate="tambourBrowserApp.catalogcolors.labA">Lab A</span></dt>
        <dd>
          <span>{{ catalogcolors.labA }}</span>
        </dd>
        <dt><span jhiTranslate="tambourBrowserApp.catalogcolors.labB">Lab B</span></dt>
        <dd>
          <span>{{ catalogcolors.labB }}</span>
        </dd>
        <dt><span jhiTranslate="tambourBrowserApp.catalogcolors.a">A</span></dt>
        <dd>
          <span>{{ catalogcolors.a }}</span>
        </dd>
        <dt><span jhiTranslate="tambourBrowserApp.catalogcolors.b">B</span></dt>
        <dd>
          <span>{{ catalogcolors.b }}</span>
        </dd>
        <dt><span jhiTranslate="tambourBrowserApp.catalogcolors.c">C</span></dt>
        <dd>
          <span>{{ catalogcolors.c }}</span>
        </dd>
        <dt><span jhiTranslate="tambourBrowserApp.catalogcolors.d">D</span></dt>
        <dd>
          <span>{{ catalogcolors.d }}</span>
        </dd>
        <dt><span jhiTranslate="tambourBrowserApp.catalogcolors.e">E</span></dt>
        <dd>
          <span>{{ catalogcolors.e }}</span>
        </dd>
        <dt><span jhiTranslate="tambourBrowserApp.catalogcolors.f">F</span></dt>
        <dd>
          <span>{{ catalogcolors.f }}</span>
        </dd>
        <dt><span jhiTranslate="tambourBrowserApp.catalogcolors.g">G</span></dt>
        <dd>
          <span>{{ catalogcolors.g }}</span>
        </dd>
        <dt><span jhiTranslate="tambourBrowserApp.catalogcolors.h">H</span></dt>
        <dd>
          <span>{{ catalogcolors.h }}</span>
        </dd>
        <dt><span jhiTranslate="tambourBrowserApp.catalogcolors.i">I</span></dt>
        <dd>
          <span>{{ catalogcolors.i }}</span>
        </dd>
        <dt><span jhiTranslate="tambourBrowserApp.catalogcolors.j">J</span></dt>
        <dd>
          <span>{{ catalogcolors.j }}</span>
        </dd>
        <dt><span jhiTranslate="tambourBrowserApp.catalogcolors.k">K</span></dt>
        <dd>
          <span>{{ catalogcolors.k }}</span>
        </dd>
        <dt><span jhiTranslate="tambourBrowserApp.catalogcolors.l">L</span></dt>
        <dd>
          <span>{{ catalogcolors.l }}</span>
        </dd>
        <dt><span jhiTranslate="tambourBrowserApp.catalogcolors.m">M</span></dt>
        <dd>
          <span>{{ catalogcolors.m }}</span>
        </dd>
        <dt><span jhiTranslate="tambourBrowserApp.catalogcolors.n">N</span></dt>
        <dd>
          <span>{{ catalogcolors.n }}</span>
        </dd>
        <dt><span jhiTranslate="tambourBrowserApp.catalogcolors.o">O</span></dt>
        <dd>
          <span>{{ catalogcolors.o }}</span>
        </dd>
        <dt><span jhiTranslate="tambourBrowserApp.catalogcolors.p">P</span></dt>
        <dd>
          <span>{{ catalogcolors.p }}</span>
        </dd>
        <dt><span jhiTranslate="tambourBrowserApp.catalogcolors.q">Q</span></dt>
        <dd>
          <span>{{ catalogcolors.q }}</span>
        </dd>
        <dt><span jhiTranslate="tambourBrowserApp.catalogcolors.r">R</span></dt>
        <dd>
          <span>{{ catalogcolors.r }}</span>
        </dd>
        <dt><span jhiTranslate="tambourBrowserApp.catalogcolors.s">S</span></dt>
        <dd>
          <span>{{ catalogcolors.s }}</span>
        </dd>
        <dt><span jhiTranslate="tambourBrowserApp.catalogcolors.t">T</span></dt>
        <dd>
          <span>{{ catalogcolors.t }}</span>
        </dd>
        <dt><span jhiTranslate="tambourBrowserApp.catalogcolors.u">U</span></dt>
        <dd>
          <span>{{ catalogcolors.u }}</span>
        </dd>
        <dt><span jhiTranslate="tambourBrowserApp.catalogcolors.v">V</span></dt>
        <dd>
          <span>{{ catalogcolors.v }}</span>
        </dd>
        <dt><span jhiTranslate="tambourBrowserApp.catalogcolors.w">W</span></dt>
        <dd>
          <span>{{ catalogcolors.w }}</span>
        </dd>
        <dt><span jhiTranslate="tambourBrowserApp.catalogcolors.x">X</span></dt>
        <dd>
          <span>{{ catalogcolors.x }}</span>
        </dd>
        <dt><span jhiTranslate="tambourBrowserApp.catalogcolors.y">Y</span></dt>
        <dd>
          <span>{{ catalogcolors.y }}</span>
        </dd>
        <dt><span jhiTranslate="tambourBrowserApp.catalogcolors.z">Z</span></dt>
        <dd>
          <span>{{ catalogcolors.z }}</span>
        </dd>
        <dt><span jhiTranslate="tambourBrowserApp.catalogcolors.catalog">Catalog</span></dt>
        <dd>
          <div *ngIf="catalogcolors.catalog">
            <a [routerLink]="['/catalogs', catalogcolors.catalog.id, 'view']">{{ catalogcolors.catalog.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/catalogcolors', catalogcolors.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
