<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-catalogs-heading" data-cy="CatalogsCreateUpdateHeading" jhiTranslate="tambourBrowserApp.catalogs.home.createOrEditLabel">
        Create or edit a Catalogs
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="tambourBrowserApp.catalogs.id" for="field_id">Id</label>
          <input
            type="text"
            class="form-control"
            name="id"
            id="field_id"
            data-cy="id"
            formControlName="id"
            [readonly]="editForm.get('id')!.value != null"
          />
          <div *ngIf="editForm.get('id')!.invalid && (editForm.get('id')!.dirty || editForm.get('id')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('id')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('id')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 36 }"
            >
              This field cannot be longer than 36 characters.
            </small>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="tambourBrowserApp.catalogs.externalId" for="field_externalId">External Id</label>
          <textarea
            class="form-control"
            name="externalId"
            id="field_externalId"
            data-cy="externalId"
            formControlName="externalId"
          ></textarea>
          <div *ngIf="editForm.get('externalId')!.invalid && (editForm.get('externalId')!.dirty || editForm.get('externalId')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('externalId')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="tambourBrowserApp.catalogs.name" for="field_name">Name</label>
          <textarea class="form-control" name="name" id="field_name" data-cy="name" formControlName="name"></textarea>
          <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="tambourBrowserApp.catalogs.version" for="field_version">Version</label>
          <textarea class="form-control" name="version" id="field_version" data-cy="version" formControlName="version"></textarea>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="tambourBrowserApp.catalogs.isActive" for="field_isActive">Is Active</label>
          <input type="checkbox" class="form-check" name="isActive" id="field_isActive" data-cy="isActive" formControlName="isActive" />
          <div *ngIf="editForm.get('isActive')!.invalid && (editForm.get('isActive')!.dirty || editForm.get('isActive')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('isActive')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="tambourBrowserApp.catalogs.createdTime" for="field_createdTime">Created Time</label>
          <div class="d-flex">
            <input
              id="field_createdTime"
              data-cy="createdTime"
              type="datetime-local"
              class="form-control"
              name="createdTime"
              formControlName="createdTime"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
